body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 170, 235, 1);
}

.botaoVoltar {
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    width: 7%;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(88, 36, 103, 1);
    color: white;
    font-size: 22px;
}

.boasVindas {
    height: 168px;
    width: 100%;
    background-color: rgba(172, 102, 205, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.boasVindas p {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 600;
}

.triangulo {
    width: 15%;
    height: 14%;
    position: absolute;
    top: 85px;
    left: 200px;

    img {
        width: 47%;
        height: 238px;
    }
}

.contBarraLateral {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 767px;
    max-width: 128px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(162, 118, 230, 1);
}

.option {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    img {
        width: 28px;
        height: 28px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        transition: all .2s ease-in-out;

        &:hover {
            color: white;
        }
    }
}

.parteDoMeio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 767px;
    background-color: white;
}

.infosDoUsuario {
    margin-top: 100px;
    border: 3px black solid;
    border-radius: 30px;
    width: 75%;
    height: 60%;
    display: flexbox;
    position: relative;
    left: 7%;

    background-color: rgb(255, 255, 255);

    h1 {
        font-size: 40px;
        text-align: center;
        position: relative;
        bottom: 100px;
    }
    input{
        position: relative;
        left: 80px;
        display: block;
        width: 25%;
        height: 5%;
        border: 2px black solid;
        border-radius: 5px;
    }
    label{
        position: relative;
        left: 80px;
    }
}
.excluirConta{
    display: flex;
    position: relative;
    justify-content: end;
    top: 70px;
    right: 10px;

    button{
    border: 2px black solid;
    border-radius: 10px;
    position: relative;
    width: 100px;
    height: 25px;
    background-color: white;
    }

    button:hover{
        background-color: rgb(202, 71, 71);
        color: white;
    }
}
.botoesDeAcao{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 230px;
    left: 80px;

    button{
        border: 2px black solid;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        background-color: white;
    }
    button:hover{
        background-color: black;
        color: white;
    }
}
.fotoUsuario{
    display: flex;
    position: absolute;
    left: 55%;
    bottom: 80px;
    width: fit-content;
}
.triangulo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    overflow: hidden;
    width: 0;
    height: 0;
    border-top: 84px solid transparent;
    border-left: 84px solid transparent;
    border-right: 84px solid #582467;
    border-bottom: 84px solid #582467;
    transform: rotate(90deg);
}